a {
    text-decoration: none;
    padding: 25px;
}

h1 span {
    color: #138227;
    font-size: 50px;
    font-weight: 50;
}

h4 {
    font-weight: 300;
}

.page {
    font-size: 20px;
    font-weight: 500;
}

.text {
    padding-top: 150px;
}

.Categories {
    font-size: 30px;
    text-align: center;
}

.Product {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
}

.card-title {
    font-size: 30px;
    font-weight: 300;
}

.price {
    font-weight: 200;
}

.Reviews {
    font-weight: 10;
}

.fooder-1 {
    font-size: 30px;
    color: aliceblue;
    font-weight: 200;
    margin-top: 40px;
}
.last{
  color: aliceblue;
  font-size: 17px;
  font-weight: 300;
  padding: 30px 90px;
}
