<div class="container-fluid" style="background-color: rgb(75, 72, 72);">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-4 col-lg-4 fooder">
              <p class="fooder-1" style="color: rgba(12, 234, 72, 0.664);font-weight: 600;">Zay Shop</p>
              <hr class="text-light">
              <p><a class="link-offset-1 text-light" href="#"><i class="fa-solid fa-location-dot text-light"></i> 123
                      Consectetur at ligula 10660</a></p>
              <p><a class="link-offset-2 text-light" href="#"><i class="fa-solid fa-phone text-light"></i>
                      010-020-0340</a></p>
              <p><a class="link-offset-3 text-light" href="#"><i class="fa-solid fa-envelope text-light"></i>
                      info&#64;company.com</a></p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 fooder">
              <p class="fooder-1">Products</p>
              <hr class="text-light">
              <p><a class="link-offset-1 text-light" href="#">Luxury</a></p>
              <p><a class="link-offset-2 text-light" href="#">Sport Wear</a></p>
              <p><a class="link-offset-3 text-light" href="#">Men's Shoes</a></p>
              <p><a class="link-offset-2 text-light" href="#">Women's Shoes</a></p>
              <p><a class="link-offset-3 text-light" href="#">Popular Dress</a></p>
              <p><a class="link-offset-2 text-light" href="#">Gym Accessories</a></p>
              <p><a class="link-offset-3 text-light" href="#">Sport Shoes</a></p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 fooder">
              <p class="fooder-1">ZFurther Info</p>
              <hr class="text-light">
              <p><a class="link-offset-1 text-light" href="#">Home</a></p>
              <p><a class="link-offset-2 text-light" href="#">About Us</a></p>
              <p><a class="link-offset-3 text-light" href="#">Shop Locations</a></p>
              <p><a class="link-offset-2 text-light" href="#">FAQs</a></p>
              <p><a class="link-offset-3 text-light" href="#">Contact</a></p>
          </div>
          <hr class="text-light"><br>
      </div>
      <nav class="navbar">
          <div class="container-fluid">
              <div class="float-end text-light">
                  <i class="fa-brands fa-facebook-f pe-4"></i>
                  <i class="fa-brands fa-square-instagram pe-4"></i>
                  <i class="fa-brands fa-twitter pe-4"></i>
                  <i class="fa-brands fa-linkedin pe-4"></i>
              </div>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="sreyya@gmail.com" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Subscribe</button>
              </form>
          </div>
      </nav>
  </div>
</div>

<div class="container-fluid" style="background-color: rgb(53, 50, 50);">
  <h2 class="last">Copyright © 2021 Company Name | Designed by TemplateMo</h2>
</div>
