<nav class="navbar navbar-expand-lg bg-dark shadow-lg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                  <a routerLink="#" class="pe-auto text-light" style=" text-decoration: none;"> <i class="fa-solid fa-envelope text-light p-2"></i>
                        info&#64;company.com</a>
                        <a routerLink="#" class="pe-auto text-light" style=" text-decoration: none;"><i class="fa-solid fa-phone text-light p-2"></i>
                        010-020-0340</a>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="text-light">
                      <a routerLink=""><i class="fa-brands fa-facebook-f pe-4 text-light"></i></a>
                      <a routerLink=""> <i class="fa-brands fa-square-instagram pe-4 text-light"></i></a>
                        <a routerLink=""> <i class="fa-brands fa-twitter pe-4 text-light"></i></a>
                          <a routerLink=""><i class="fa-brands fa-linkedin pe-4 text-light"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid mt-2 shadow-lg">
    <div class="container ">
        <div class="row">
            <div class="col-2 col-md-4 col-lg-3">
                <h1 class="zay">Zay</h1>
            </div>
            <div class="col-3 col-md-4 col-lg-6">
                        <ul class="nav justify-content-center nav">
                          <li class="nav-item pe-4">
                            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                          </li>
                          <li class="nav-item pe-4">
                            <a class="nav-link" routerLink="/about">About</a>
                          </li>
                          <li class="nav-item pe-4">
                            <a class="nav-link" routerLink="/shop">Shop</a>
                          </li>
                          <li class="nav-item pe-4">
                            <a class="nav-link" routerLink="/contact">Contact</a>
                          </li>
                        </ul>
              </div>
                <div class="col-9 col-md-8 col-lg-3 pt-2 fs-4 ">
                  <div class="float-end num">
                      <a routerLink="/search"><i class="fa-solid fa-magnifying-glass pe-4 text-dark"></i></a>
                      <a routerLink=""><i class="fa-solid fa-cart-shopping pe-4 text-dark"><span>7</span></i></a>
                      <a routerLink=""><i class="fa-solid fa-user pe-4 text-dark"><span>+99</span></i></a>
                  </div>
              </div>

         </div>
</div>
