<div class="container-fluid my-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 " style="padding-left: 50px;padding-top: 20px;">
      <h3 style="font-weight: 200;">Categories</h3>
      <ul class="list-unstyled">
        <li>
          <div class="form-check">
            <select style="border: none;">
              <option>Gender</option>
              <option> Men</option>
              <option>Women</option>
            </select>
          </div>
        </li>
        <li>
          <div class="form-check">
            <select style="border: none;">
              <option> Sale</option>
              <option> Sport</option>
              <option> Luxury</option>
            </select>
          </div>
        </li>
        <li>
          <div class="form-check">
            <select style="border: none;">
              <option>Product</option>
              <option>Bag</option>
              <option>Sweather</option>
              <option>Sunglass</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-4">All Men's Women's</div>
        <div class="col-8">
          <form >
            <select class="form-select" id="sel1" name="sellist1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <img src="../..//public/assets/shop_01.jpg" alt="" width="100%">
              <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
              </p>
              <div class="star">
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star start pe-1"></i>
              <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
             $250.00</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <img src="../..//public/assets/shop_02.jpg" alt="" width="100%">
              <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
              </p>
              <div class="star">
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
              <i class="fa-duotone fa-solid fa-star start pe-1"></i>
              <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
             $250.00</div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body">
            <img src="../..//public/assets/shop_03.jpg" alt="" width="100%">
            <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
            </p>
            <div class="star">
            <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
            <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
            <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
            <i class="fa-duotone fa-solid fa-star start pe-1"></i>
            <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
           $250.00</div>
          </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="../..//public/assets/shop_04.jpg" alt="" width="100%">
          <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
          </p>
          <div class="star">
          <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
          <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
          <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
          <i class="fa-duotone fa-solid fa-star start pe-1"></i>
          <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
         $250.00</div>
        </div>
      </div>
  </div>
  <div class="col-12 col-md-12 col-lg-4 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="../..//public/assets/shop_05.jpg" alt="" width="100%">
        <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
        </p>
        <div class="star">
        <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
        <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
        <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
        <i class="fa-duotone fa-solid fa-star start pe-1"></i>
        <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
       $250.00</div>
      </div>
    </div>
</div>
<div class="col-12 col-md-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <img src="../..//public/assets/shop_06.jpg" alt="" width="100%">
      <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
      </p>
      <div class="star">
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
     $250.00</div>
    </div>
  </div>
</div>
<div class="col-12 col-md-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <img src="../..//public/assets/shop_07.jpg" alt="" width="100%">
      <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
      </p>
      <div class="star">
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
     $250.00</div>
    </div>
  </div>
</div>
<div class="col-12 col-md-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <img src="../..//public/assets/shop_08.jpg" alt="" width="100%">
      <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
      </p>
      <div class="star">
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
     $250.00</div>
    </div>
  </div>
</div>
<div class="col-12 col-md-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <img src="../..//public/assets/shop_09.jpg" alt="" width="100%">
      <p class="card-text">Oupidatat non <br>M/L/XL/XXL<br>
      </p>
      <div class="star">
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star texts pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i>
      <i class="fa-duotone fa-solid fa-star start pe-1"></i><br>
     $250.00</div>
    </div>
  </div>
</div>
      <!-- Pagination -->
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


 .
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../..//public/assets/brand_01.png" alt=""  >
            <img src="../..//public/assets/brand_02.png" alt="">
            <img src="../..//public/assets/brand_03.png" alt=""  >
            <img src="../..//public/assets/brand_04.png" alt="" >
          </div>
          <div class="carousel-item">
            <img src="../..//public/assets/brand_01.png" alt=""  >
            <img src="../..//public/assets/brand_02.png" alt="">
            <img src="../..//public/assets/brand_03.png" alt=""  >
            <img src="../..//public/assets/brand_04.png" alt="" >
          </div>
          <div class="carousel-item">
            <img src="../..//public/assets/brand_01.png" alt=""  >
            <img src="../..//public/assets/brand_02.png" alt="">
            <img src="../..//public/assets/brand_03.png" alt=""  >
            <img src="../..//public/assets/brand_04.png" alt="" >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
