<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <a routerLink="/home"><button class="back">X</button></a>
  <div class="input-group" style="max-width: 500px;">
    <input
      type="text"
      class="form-control"
      placeholder="Search ..."
      aria-label="Search"
      aria-describedby="button-addon"
    />
    <button class="btn btn-success" type="button" id="button-addon">
      <a routerLink="/home"><i class="fa-solid fa-magnifying-glass pe-4 text-dark"></i></a>
    </button>
  </div>
</div>
