.body{
  background-color:#efefef;
}
a {
  text-decoration: none;
  padding: 25px;
}

h1 span {
  color: #138227;
  font-size: 50px;
  font-weight: 50;
}

h4 {
  font-weight: 300;
}

.page {
  font-size: 20px;
  font-weight: 500;
}

.text{
  padding-top: 150px;
}

.Categories {
  font-size: 30px;
  text-align: center;
}

.Product {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  padding-top: 100px;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
}

.price{
  font-weight: 200;
}

.Reviews {
  font-weight: 10;
  padding-left: 18px;
}

.fooder-1 {
  font-size: 30px;
  color: aliceblue;
}
.card_head{
  font-weight: 200;
  font-size: 30px;
}
.texts{
  color: rgb(243, 236, 120);
}
.start{
  color:rgb(141, 138, 138);
  font-weight: 50;
}
