<div class="body">
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-info"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-info"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-info"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="container" style="padding: 50px;">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text">
                            <h1>Zay <span> eCommerce </span></h1>
                            <h4>Tiny and Perfect eCommerce Template</h4>
                            <p>Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1).
                                This template is 100% free provided by TemplateMo website. Image credits go to Freepik
                                Stories, Unsplash and Icons 8.</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 ">
                            <img src="../..//public/assets/banner_img_01.jpg" alt="Los Angeles" class="d-block"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="container" style="padding: 50px;">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text">
                            <h2>Proident occaecat</h2>
                            <h4>Aliquip ex ea commodo consequat</h4>
                            <p>You are permitted to use this Zay CSS template for your commercial websites. You are not
                                permitted to re-distribute the template ZIP file in any kind of template collection
                                websites.</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 ">
                            <img src="../..//public/assets/banner_img_02.jpg" alt="Los Angeles" class="d-block"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="container-fluid">
                <div class="container" style="padding: 50px;">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text">
                            <h1><span> Repr in voluptate</span></h1>
                            <h4>Ullamco laboris nisi ut</h4>
                            <p>We bring you 100% free CSS templates for your websites. If you wish to support
                                TemplateMo, please make a small contribution via PayPal or tell your friends about our
                                website. Thank you.</p>
                        </div>
                        <div class="col-5">
                            <img src="../..//public/assets/banner_img_03.jpg" alt="Los Angeles" class="d-block "
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-info text-info" aria-hidden="true"></span>
        <span class="visually-hidden  bg-info">Previous</span>
    </button>
    <button class="carousel-control-next text-dark" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
        <span class="visually-hidden bg-info">Next</span>
    </button>
</div>

<h1 class="Categories">Categories of The Month</h1>
<p style="text-align: center;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    <br>anim id est laborum.
</p><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
           <a href="#"><img src="../..//public/assets/category_img_01.jpg" alt="" style="width: 80%; border-radius: 50%;">   </a>
            <h5 style="text-align: center; font-weight: 500;">Watches</h5>
            <button type="button" class="btn btn-success" style="margin-left: 130px;">Go Shop</button>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <a href="#"><img src="../..//public/assets/category_img_02.jpg" alt="" style="width: 80%; border-radius: 50%;"></a>
            <h5 style="text-align: center; font-weight: 500;">Shoes</h5>
            <button type="button" class="btn btn-success" style="margin-left: 130px;">Go Shop</button>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <a href="#"><img src="../..//public/assets/category_img_03.jpg" alt="" style="width: 80%; border-radius: 50%;"></a>
            <h5 style="text-align: center; font-weight: 500;">Accessories</h5>
            <button type="button" class="btn btn-success" style="margin-left: 130px;">Go Shop</button>
        </div>
    </div>
</div>
<p class="Product">Featured Product
<p>
<p style="text-align: center;">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <br>Excepteur sint occaecat cupidatat non proident.
</p>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card" style="width: 23rem;">
        <a routerLink="/cart"><img src="../..//public/assets/feature_prod_01.jpg" alt="" style="width: 100%;"></a>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-9">
            <i class="fa-duotone fa-solid fa-star texts"></i>
            <i class="fa-duotone fa-solid fa-star texts"></i>
            <i class="fa-duotone fa-solid fa-star texts"></i>
            <i class="fa-duotone fa-solid fa-star start"></i>
            <i class="fa-duotone fa-solid fa-star start"></i>
          </div>
          <div class="col-12 col-md-12 col-lg-3 price">$240.00</div>
        </div>
        <div class="card-body">
          <h1 class="card_head">Gym Weight</h1>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.</p>
        </div>
        <p class="Reviews">Reviews</p>
      </div>
  </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <a routerLink="/cart"><img src="../..//public/assets/feature_prod_02.jpg" alt="" style="width: 100%;"></a>
          <div class="row">
            <div class="col-9">
              <i class="fa-duotone fa-solid fa-star texts"></i>
              <i class="fa-duotone fa-solid fa-star texts"></i>
              <i class="fa-duotone fa-solid fa-star texts"></i>
              <i class="fa-duotone fa-solid fa-star start"></i>
              <i class="fa-duotone fa-solid fa-star start"></i>
            </div>
            <div class="col-12 col-md-12 col-lg-3 price">$480.00</div>
          </div>
          <div class="card-body">
            <h1 class="card_head">Cloud Nike Shoes</h1>
            <p class="card-text">Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper</p>
          </div>
          <p class="Reviews">Reviews</p>
        </div>
    </div>
      <div class="col-12 col-md-12 col-lg-4">
          <div class="card" style="width: 23rem;">
            <a routerLink="/cart"><img src="../..//public/assets/feature_prod_03.jpg" alt="" style="width: 100%;"></a>
            <div class="row">
              <div class="col-9">
                <i class="fa-duotone fa-solid fa-star texts"></i>
                <i class="fa-duotone fa-solid fa-star texts"></i>
                <i class="fa-duotone fa-solid fa-star texts"></i>
                <i class="fa-duotone fa-solid fa-star texts"></i>
                <i class="fa-duotone fa-solid fa-star texts"></i>
              </div>
              <div class="col-3
               price">$360.00</div>
            </div>
            <div class="card-body">
              <h1 class="card_head">Summer Addides Shoes</h1>
              <p class="card-text">Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.</p>
            </div>
            <p class="Reviews">Reviews</p>
          </div>
      </div>
  </div>
</div><br>
</div>
